* {
  box-sizing: border-box;
  margin: 0;
}

/* The text-decoration: none gets rid of the underline on a tags 
   the color: black keeps a tags from turning blue  */
a {
  text-decoration: none;
  color: black;
}

button {
  border: unset;
  padding: unset;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.header__page-title {
  font-family: "Shrikhand", cursive;
}

.ohmyfood__logo img {
  width: 156px;
  height: 30px;
  padding-right: 20px;
}

.footer__logo {
  width: 125px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(108%) contrast(102%);
  padding: 20px 0 0 13px;
}

.instruction-wrapper__badge {
  width: 39px;
  height: 32px;
  background-color: #9356dc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20%;
  left: 4%;
}
.instruction-wrapper__badge-num {
  font-weight: bold;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .instruction-wrapper__badge {
    width: 32px;
    height: 32px;
    position: relative;
    top: 25%;
    left: 4%;
  }
}
@media (min-width: 640px) and (max-width: 1300px) {
  .instruction-wrapper__badge {
    width: 35px;
    height: 35px;
    margin-right: 10%;
    position: relative;
    top: 30%;
    left: -2%;
  }
}

.ohmyfood__logo img {
  width: 156px;
  height: 30px;
  padding-right: 20px;
}

.footer__logo {
  width: 125px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(108%) contrast(102%);
  padding: 20px 0 0 13px;
}

.restaurant-card__label {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: #99e2d0;
  position: relative;
  top: -90%;
  left: 70%;
}
.restaurant-card__label-text {
  color: #008766;
  position: relative;
  top: 5px;
  left: 0;
}
@media (min-width: 1024px) {
  .restaurant-card__label {
    position: relative;
    top: -90%;
    left: 75%;
  }
}
@media (min-width: 640px) and (max-width: 1300px) {
  .restaurant-card__label {
    position: relative;
    top: -90%;
    left: 80%;
  }
}

.explore-restaurants-link {
  padding-bottom: 20px;
}
.explore-restaurants-link div {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(#E671DA 40%, #9356DC);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.explore-restaurants-link div p {
  color: #ffff;
}
.explore-restaurants-link div:hover {
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}

.instruction-btn {
  width: 325px;
  height: 77px;
  background-color: #f6f6f6;
  border-radius: 15px;
  transition-duration: 450ms;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.instruction-btn:hover {
  background-color: #f5edff;
  color: #f5edff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.instruction-btn:hover i {
  color: #9356dc;
}
.instruction-btn:hover img {
  filter: invert(60%) sepia(59%) saturate(6396%) hue-rotate(239deg) brightness(88%) contrast(95%);
}
.instruction-btn__text {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
@media (min-width: 640px) {
  .instruction-btn {
    width: 87%;
  }
}

.btn-order {
  width: 185px;
  height: 49px;
  border: none;
  font-size: 17px;
  border-radius: 20px;
  color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(#E671DA 40%, #9356DC);
}
.btn-order:hover {
  cursor: pointer;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}

.header-back-arrow {
  font-size: 23px;
  padding-left: 15px;
}

.location__map-marker {
  padding-right: 15px;
}

.instruction-btn__icon {
  color: #7e7e7e;
}
.instruction-btn__icon-1 {
  padding-left: 40px;
  padding-right: 20px;
  font-size: 25px;
}
.instruction-btn__icon-2 {
  width: 80px;
  height: 30px;
  padding-left: 20px;
}
.instruction-btn__icon-3 {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 20px;
}

.header__page-like {
  padding-right: 15px;
  padding-top: 30px;
  font-size: 30px;
}
.header__page-like-container {
  position: relative;
  position: relative;
  top: 0;
  left: -5%;
}
@media (min-width: 1024px) {
  .header__page-like-container {
    position: relative;
    top: 0;
    left: 0;
  }
}
.header__page-like-container:hover {
  cursor: pointer;
}
.header__page-like-container:hover .header__page-like:first-child {
  opacity: 1;
  background-image: linear-gradient(#E671DA 40%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__page-like-container:hover .header__page-like:nth-child(2) {
  opacity: 0;
}
.header__page-like:first-child {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: -5%;
  left: -0.1%;
}
@media (min-width: 1024px) {
  .header__page-like {
    padding-right: 100px;
    margin-left: auto;
  }
}

.restaurant-card__icon-container {
  position: absolute;
  top: 75%;
  left: 87%;
}
.restaurant-card__icon-container:hover {
  cursor: pointer;
}
.restaurant-card__icon-container:hover .restaurant-card__icon:first-child {
  opacity: 1;
  background-image: linear-gradient(#E671DA 40%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant-card__icon-container:hover .restaurant-card__icon:nth-child(2) {
  opacity: 0;
}
.restaurant-card__icon {
  padding-right: 20px;
  font-size: 26px;
}
.restaurant-card__icon:first-child {
  background-image: linear-gradient(#E671DA 40%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  background-image: linear-gradient(#E671DA 40%, #9356DC);
  font-size: 25px;
  transition: opacity 0.25s ease-in;
  position: absolute;
  top: -5%;
  left: 0;
}
.restaurant-card__icon:nth-child(2) {
  opacity: 1;
}

.menu__dish-selection-icon {
  font-size: 24px;
  color: #99e2d0;
  transition-delay: 0.5;
  transition: all 1s ease-in-out;
}
.menu__dish-selection-circle {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

.footer__icon {
  padding-right: 5px;
}

.restaurant-card {
  width: 90%;
  height: 251px;
  padding-bottom: 5%;
  border-radius: 15px;
  margin-top: 2px;
  position: relative;
}
.restaurant-card-top {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.restaurant-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant-card-bottom {
  width: 100%;
  height: 30%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant-card__text-wrapper {
  padding-left: 20px;
}
.restaurant-card__name {
  font-size: 18px;
  font-weight: bold;
}
.restaurant-card__loc {
  font-size: 15px;
  font-weight: lighter;
}
@media (min-width: 1024px) {
  .restaurant-card {
    width: 47%;
    height: 40%;
    padding: unset;
  }
}
@media (min-width: 640px) and (max-width: 1300px) {
  .restaurant-card {
    width: 90%;
    height: 350px;
    padding: 2%;
  }
}

.menu-card {
  width: 350px;
  height: 70px;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-card__wrapper {
  width: 100%;
  height: max-content;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu-card__text {
  width: 45%;
  height: 100%;
  flex-grow: 1;
  text-align: start;
  padding-left: 13px;
  padding-top: 5px;
  white-space: nowrap;
}
.menu-card__title {
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 640px) and (max-width: 1300px) {
  .menu-card__title {
    font-size: 20px;
  }
}
.menu-card__sub-text {
  width: 95%;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 640px) and (max-width: 1300px) {
  .menu-card__sub-text {
    font-size: 19px;
  }
}
.menu-card__price {
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 20px;
  font-weight: bold;
}
.menu-card:hover {
  cursor: pointer;
}
.menu-card:hover > .menu__dish-selection {
  width: 30%;
}
.menu-card:hover > .menu__dish-selection > div > i {
  transform: rotate(-360deg);
}
@media (min-width: 640px) and (max-width: 1300px) {
  .menu-card {
    width: 70%;
  }
}

.menu {
  width: 100%;
  margin-top: 20px;
  height: max-content;
  padding-bottom: 55px;
  background-color: #f6f6f6;
}
.menu__section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .menu__section-wrapper {
    width: 500px;
    flex-wrap: wrap;
    background-color: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
  }
}
.menu__section-wrapper .menu-card__wrapper:nth-of-type(1) {
  opacity: 0;
  animation-name: ghost;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.menu__section-wrapper div:nth-of-type(2) {
  opacity: 0;
  animation-name: ghost;
  animation-duration: 0.9s;
  animation-delay: 0.9s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.menu__section-wrapper div:nth-of-type(3) {
  opacity: 0;
  animation-name: ghost;
  animation-duration: 0.9s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.menu__section-wrapper div:nth-of-type(4) {
  opacity: 0;
  animation-name: ghost;
  animation-duration: 0.9s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.menu .py-1 {
  padding-top: 30px;
}
@media (min-width: 1024px) {
  .menu .py-1 {
    padding-top: unset;
  }
}
.menu__section-title {
  align-self: start;
  padding-left: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: lighter;
}
.menu__section-title::after {
  content: "";
  background: #99e2d0;
  display: block;
  width: 45px;
  height: 4px;
  margin-top: 5px;
}
@media (min-width: 1024px) {
  .menu__section-title {
    padding-left: 90px;
  }
}
@media (min-width: 640px) and (max-width: 1300px) {
  .menu__section-title {
    padding-left: 12%;
  }
}
.menu__dish-selection {
  width: 0%;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition-property: width;
  transition-duration: 1.2s;
}
@media (min-width: 1024px) {
  .menu {
    flex-wrap: wrap;
    background-color: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.menu__btn {
  width: 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes ghost {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 5%;
  }
  25% {
    opacity: 10%;
  }
  35% {
    opacity: 20%;
  }
  45% {
    opacity: 30%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.logo__container {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.location__name {
  font-size: 18px;
  font-weight: bold;
  padding-right: 20px;
}

.header-title-container {
  height: 250px;
}
@media (min-width: 1024px) {
  .header-title-container {
    height: unset;
  }
}
.header__img {
  width: 100%;
  height: 254px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .header__img {
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
    justify-self: center;
  }
}
.header-title {
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -47px;
  left: 0;
}
@media (min-width: 1024px) {
  .header-title {
    background-color: unset;
    position: unset;
    padding-left: 20px;
  }
}
.header__page-title {
  padding-top: 20px;
  padding-left: 20px;
  white-space: nowrap;
  font-size: 28px;
  font-weight: bolder;
}
@media (min-width: 1024px) {
  .header__page-title {
    padding-left: 60px;
    padding-right: 30px;
  }
}
@media (min-width: 640px) and (max-width: 1300px) {
  .header__page-title {
    padding-left: 60px;
  }
}

.informative {
  width: 100%;
  height: 237px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.informative-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .informative {
    background: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat center center/cover;
  }
  .informative-wrapper {
    width: 45%;
    height: 100%;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-left: 50px;
    border-bottom: 7px solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 53% 0, 100% 100%, 0% 100%);
  }
  .informative-wrapper h2 {
    padding: unset;
  }
}
@media (min-width: 640px) and (max-width: 1300px) {
  .informative {
    flex-direction: column;
    padding-bottom: 2%;
  }
}

.home-page-title {
  font-size: 23px;
  font-weight: bolder;
  padding-top: 15px;
}

.home-page-sub-title {
  font-size: 18px;
  padding-left: 18px;
  font-weight: lighter;
  text-align: center;
}

.instruction {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.instruction-wrapper {
  width: 80%;
  margin: 0 0 10% 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
@media (min-width: 640px) and (max-width: 1300px) {
  .instruction {
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
}
.instruction h2 {
  width: 100%;
  font-size: 23px;
  font-weight: bold;
  padding: 30px;
}
@media (min-width: 1024px) {
  .instruction h2 {
    padding-left: 18%;
  }
}
@media (min-width: 640px) and (max-width: 1300px) {
  .instruction h2 {
    margin: auto;
    padding-top: 30px;
    padding-right: 11%;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .instruction {
    width: 30%;
    justify-content: space-between;
    align-self: flex-start;
  }
}

.restaurants {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    height: max-content;
  }
}
.restaurants-wrapper {
  width: 100%;
  height: 95%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .restaurants-wrapper {
    height: 700px;
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
    flex-wrap: wrap;
  }
}
.restaurants h2 {
  margin-bottom: 7%;
  font-weight: bold;
  padding: 15px;
  position: relative;
  top: 19px;
  left: -100px;
  font-size: 23px;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .restaurants h2 {
    position: unset;
    margin: unset;
    padding-top: 30px;
    padding-left: 55px;
  }
}
@media (min-width: 640px) and (max-width: 1300px) {
  .restaurants h2 {
    position: unset;
    margin: unset;
    margin-top: 5%;
    font-size: 34px;
  }
}

.footer {
  width: 100%;
  height: 197px;
  background-color: #353535;
}
.footer__text-wrapper {
  width: max-content;
  padding: 10px 0 0 27px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: unset;
}
.footer__link {
  color: white;
  padding-top: 5px;
}

@media (min-width: 1024px) {
  .home-page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.loader__spinner-img {
  position: fixed;
  z-index: 501;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: disappear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.loader__spinner-img img {
  width: 92%;
}
@media (min-width: 1024px) {
  .loader__spinner-img img {
    width: unset;
  }
}
.loader__spinner-container {
  width: 100vw;
  height: 100vh;
  border-color: #9356dc;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
  animation-name: disappear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.loader__spinner-container div {
  position: absolute;
  width: 50vw;
  height: 50vw;
  border: 8px solid transparent;
  border-radius: 50%;
  border-right-color: #99e2d0;
  transform: translate(-50%, -50%);
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@media (min-width: 1024px) {
  .loader__spinner-container div {
    width: 35vw;
    height: 35vw;
  }
}
.loader img {
  width: 300px;
  position: relative;
  top: 40vh;
  left: 0;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    border-bottom-color: #99e2d0;
  }
  50% {
    border-top-color: #99e2d0;
    filter: brightness(90%);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 500;
  }
  90% {
    opacity: 1;
    z-index: 500;
  }
  100% {
    opacity: 0;
    z-index: -500;
  }
}

/*# sourceMappingURL=style.css.map */
