// base 
@import './base/reset';
@import './base/typography';

// utilites
@import './utils/variables';
@import './utils/mixins';
@import './utils/animations';
@import './utils/breakpoints';

// components
@import './components/logos';
@import './components/badges';
@import './components/logos';
@import './components/labels';
@import './components/button_links';
@import './components/icons';
@import './components/cards';

// page or sections 
@import './layout/menu-section';
@import './layout/header';
@import './layout/informative';
@import './layout/instrution';
@import './layout/restaurants';
@import './layout/footer';

@import './layout/home-page-content';

@import './layout/page_loading';








