.footer{
    
    width: 100%;
    height: 197px;
    background-color: $footer-color;

    &__text-wrapper{
        width: max-content;
        padding: 10px 0 0 27px;
        @include flex(column,left,unset);
    }

    &__link{
        color: white;
        padding-top: 5px;
    }
}