.logo__container{
    width: 100%;
    height: 45px;
    @include flex(row,center,center);
}

.header-flex-wrapper{
    @include flex(row,center,center);
}

.location{
    width: 100%;
    height: 50px;
    background-color: $secondary-background-color;
    @include flex(row,center,center);
  
    &__name{
        font-size: $primary-card-title-size;
        font-weight: bold;
        padding-right: 20px;
    }
}



.header{

    &-title-container{
        height: 250px;

        @include breakpoint-up(desktop){
            height: unset;
        }
    }

    &__img{
        width: 100%;
        height: 254px;
        object-fit: cover;

    
        @include breakpoint-up(desktop){
            width: 90%;
            margin-left: 5%;
            border-radius: 15px;
            justify-self: center;
        }
    }

    &-title{
        background-color: $primary-background-color;
        border-radius: 35px 35px 0 0;
        
        @include flex(row,space-between,center);
        @include pos(relative,-47px,0);

        @include breakpoint-up(desktop){
            background-color: unset;
            position: unset;
            padding-left: 20px;
        }
    }

    &__page-title{
        padding-top: 20px;
        padding-left: 20px;
        white-space: nowrap;
        @include font($page-title-size, bolder);

        // Media queries
        
        @include breakpoint-up(desktop){
            padding-left: 60px;
            padding-right: 30px;
        }

        @include breakpoint-min-max(tablet,1300px){
            padding-left: 60px;
        }
    }
}


