.instruction{
    margin-top: 2%;
    @include flex(column, left,center);
    
    &-wrapper{
        width: 80%;
        margin: 0 0 10% 0;
        @include flex(row,left,center);
    }

    @include breakpoint-min-max(tablet,1300px){
        width: 90%;
        margin: auto;
        justify-content: space-between;
    }

    h2{
        width: 100%;
        font-size: $section-title-size;
        font-weight: bold;
        padding: 30px;

        @include breakpoint-up(desktop){
            padding-left: 18%;
        }

        @include breakpoint-min-max(tablet,1300px){
            margin: auto;
            padding-top: 30px;
            padding-right: 11%;
            text-align: center;
        }

    }

    @include breakpoint-up(desktop){
        width: 30%;
        justify-content: space-between;
        align-self: flex-start;

      
    }

}

