
.menu{

   
    &__section-wrapper{
        @include flex(column,space-between,center);
        @include breakpoint-up(desktop){
            width: 500px;
            flex-wrap: wrap;
            background-color: unset;
            @include flex(row,space-between,unset);
        }

        // this code makes each card in the wrapper visable one by one 
        .menu-card__wrapper:nth-of-type(1){
            opacity: 0;
            animation-name: ghost;
            animation-duration: 0.9s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    
        div:nth-of-type(2){
            opacity: 0;
            animation-name: ghost;
            animation-duration: 0.9s;
            animation-delay: 0.9s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }

        div:nth-of-type(3){
            opacity: 0;
            animation-name: ghost;
            animation-duration: 0.9s;
            animation-delay: 1.5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }

        div:nth-of-type(4){
            opacity: 0;
            animation-name: ghost;
            animation-duration: 0.9s;
            animation-delay: 1s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    }
    
    // padding class
    .py-1{
        padding-top: 30px;

        @include breakpoint-up(desktop){
            padding-top: unset;
        }
    }

    width: 100%;
    margin-top: 20px;
    height: max-content;
    padding-bottom: 55px;
    background-color: $primary-background-color;

    
    &__section-title{
        align-self: start;
        padding-left: 20px;
        margin-bottom: 15px;
        @include font($page-subtitle,lighter);

        //  makes the green underline 
        &::after{
            content: '';
            background: $tertiary-color;
            display: block;
            width: 45px;
            height: 4px;
            margin-top: 5px;
        }

    
        @include breakpoint-up(desktop){
            padding-left: 90px
        }

        @include breakpoint-min-max(tablet,1300px){
            padding-left: 12%;
        }

        
    }
    
    &__dish-selection{
        width: 0%;
        height: 100%;
        background-color: $tertiary-color;
        border-radius: 0 15px 15px 0; 
        @include flex(row,center,center);

        overflow: hidden;
        transition-property: width;
        transition-duration: 1.2s;
    }

    @include breakpoint-up(desktop){
       flex-wrap: wrap;
       background-color: unset;
    //    min-width: 1510px;
       @include flex(row,space-between,center);
    }

    &__btn{
        width: 100%;
        padding-top: 5%;
        @include flex(column,center,center);
    }
}

// Keyframe animations 
@include ghost-card-animation;   

