
.loader{
   
    &__spinner-img{
        position: fixed;
        z-index: 501;
        width: 100vw;
        height: 100vh;


        @include flex(column,center,center);

        animation-name: disappear;
        animation-duration: 2s;
        animation-fill-mode: forwards;

        & img{
            width: 92%;
            @include breakpoint-up(desktop){
                width: unset;
            }
        }
    }

    &__spinner-container{
        width: 100vw;
        height: 100vh;
        border-color: $primary-color;
        position: fixed;
        background-color: white;
        @include flex(column,center,center);

        z-index: 500;
        animation-name: disappear;
        animation-duration: 2s;
        animation-fill-mode: forwards;

        div{
            position: absolute;
            width: 50vw;
            height: 50vw;
            border: 8px solid transparent;
            border-radius: 50%;
            border-right-color: $tertiary-color;
          

            transform: translate(-50%, -50%);

            animation-name: spinner;
            animation-duration: 2s;
            animation-iteration-count: infinite;

            @include breakpoint-up(desktop){
                width: 35vw;
                height: 35vw;
            }
        }      
    }

    img{
        width: 300px;
        @include pos(relative,40vh , 0);
    }

    @include loading-animation;
}