
// link on the main page  informative section 
.explore-restaurants-link{
    padding-bottom: 20px;

    div{
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-image: $primary-gradient;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);

        @include flex(row,center,center);

        p{
            color:#ffff;
        }

        &:hover{
            box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
        }
        
    }


}

// instruction buttons

.instruction-btn{
    width: 325px;
    height: 77px;
    background-color: $primary-background-color;
    border-radius: 15px;
    transition-duration: 450ms; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    @include flex(row,left,center);

        
    &:hover{
        background-color:#f5edff;
        color:#f5edff;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
        cursor: pointer;

        i{
            color: #9356dc;
        }   

        img{
            filter: invert(60%) sepia(59%) saturate(6396%) hue-rotate(239deg) brightness(88%) contrast(95%);
        }
        
    }

    &__text{
        font-size: $primary-card-title-size - 3;
        font-weight: bold;
        color: black;
    }

    @include breakpoint-up(tablet){
        width: 87%;
    }
}

// order button on the restaurant pages 

.btn-order{
    width: 185px;
    height: 49px;
    border: none;
    font-size: $btn-text-size;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-image: $primary-gradient;

    &:hover{
        cursor: pointer;
        box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
    }
}