// instruction card homepage 

// restaurant card the card used on the main page 
.restaurant-card{
    width: 90%;
    height: 251px;
    padding-bottom: 5%;
    border-radius: 15px;
    margin-top: 2px;
    position: relative;

    &-top{
        width: 100%;
        height: 70%;
        border-radius: 15px 15px 0 0;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    &-bottom{
        width: 100%;
        height: 30%;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
        position: relative;
        @include flex(row,space-between,center);
        
    }

    &__text-wrapper{
        padding-left:20px;
    }

    &__name{
        @include font($primary-card-title-size,bold);
    }

    &__loc{
        @include font($primary-card-subtext-size,lighter);
    }

    @include breakpoint-up(desktop){
        width: 47%;
        height: 40%;
        padding: unset;
    }

    @include breakpoint-min-max(tablet,1300px){
      width: 90%;
      height: 350px;
      padding: 2%;
    }
} 

// primary card use on the restaurnat pages 

.menu-card{

    &__wrapper{
        width: 100%;
        height: max-content;
        margin-bottom: 20px;
        @include flex(column,space-between,center);
    }

    width: 350px;
    height: 70px;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  
    @include flex(row,space-between,center);

    &__text{

        width: 45%;
        height: 100%;
        flex-grow: 1;
        text-align: start;
        padding-left: 13px;
        padding-top: 5px;
        white-space: nowrap;
    }

    &__title{
        padding-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;

        @include breakpoint-min-max(tablet,1300px){
            font-size: 20px;
        }
    }


    &__sub-text{
        width: 95%;
        font-size: $primary-card-subtext-size;
        overflow: hidden;
        text-overflow: ellipsis;

        @include breakpoint-min-max(tablet,1300px){
            font-size: $primary-card-subtext-size + 4;

        }
    }

    &__price{
        padding-top: 25px;
        padding-left: 5px;
        padding-right: 20px;
        font-weight: bold;
    }

   
    &:hover{
        cursor: pointer;
    }

    &:hover > .menu__dish-selection{
        width: 30%;
    }

    &:hover > .menu__dish-selection > div > i{
       transform: rotate(-360deg);
    }

    @include breakpoint-min-max(tablet,1300px){
        width: 70%;
    }

}


