// the back arrow on the header
.header-back-arrow{
    font-size: 23px;
    padding-left: 10px;
}

// map marker for the location section of the header on the home page 
.location__map-marker{
    padding-right: 15px;
}

//  styling for the 3 icons in instruction buttons on the home page 

.instruction-btn{
    //  !IMPORTANT          The second icons color is change through the SVG fill in XML 3844472_hamburger
    &__icon{
        color: #7e7e7e;
    }

    &__icon-1{
        padding-left: 40px;
        padding-right: 20px;
        font-size: 25px;
    }

    // 3844472_hamburger each stroke in SVG file must be change to match rest of icons 
    &__icon-2{
        width: 80px;
        height: 30px;
        padding-left: 20px;
    }

    &__icon-3{
        font-size: 20px;
        padding-left: 40px;
        padding-right: 20px;
    }
}

// Icon for liking a restaurant page

// Container elements styles are nested inside their childern 

.header__page-like{

    padding-right: 15px;
    padding-top: 30px;
    font-size: 30px;
    

    &-container{
        position: relative;
        @include pos(relative,0, -5%);

        @include breakpoint-up(desktop){
            @include pos(relative,0, 0);
        }
        
        &:hover{
            cursor: pointer;
    
            .header__page-like:first-child{
                opacity: 1;
                background-image: $primary-gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
               
            }
    
            .header__page-like:nth-child(2){
                opacity: 0;
            }
        }
    }

    &:first-child{
        opacity: 0;
        font-size: 35px;
        transition: opacity .30s ease-in-out;
        @include pos(absolute,-5%, -0.2%);
    }

    @include breakpoint-up(desktop){
       padding-right: 100px;
       margin-left: auto;
    }

    @include breakpoint-min-max(tablet,1300px){
        // padding-right: 50px;
    }
}


// icon for liking a restaurant on the restaurant card 

.restaurant-card__icon-container{
    @include pos(absolute,80%,87%);
   
    &:hover{
        cursor: pointer;

        .restaurant-card__icon:first-child{
            opacity: 1;
            background-image: $primary-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
           
        }

        .restaurant-card__icon:nth-child(2){
            opacity: 0;
        }
    }
}

.restaurant-card__icon{
    padding-right: 20px;
    font-size: 26px;
 
    &:first-child{
        background-image: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        background-image: $primary-gradient;
        font-size: 25px;
        transition: opacity .25s ease-in;

        @include pos(absolute, -5%, 0);
    }

    &:nth-child(2){
        opacity: 1;
    }
}
   

// icon for selecting a dish on a restaurant menu

.menu__dish-selection{

    &-icon{
        color: $tertiary-color;
        font-size: 25px;
    }
    
    &-circle{
        visibility: hidden;
        width: 40px;
        height: 40px;
        background-color: #ffff;
        border-radius: 25px;
        @include flex(row,center,center);

        transition-delay: 350ms;
        transition: all 0.4s ease-in;
    }
}


//  styling for footer icons  
.footer__icon{
    padding-right: 5px;
}
