.restaurant-card{
    
    &__label{
        width: 80px;
        height: 30px;
        border-radius: 5px;
        text-align: center;
        background-color: $tertiary-color;
        @include pos(relative,-90%, 70%);

        &-text{
            color: #008766;
            @include pos(relative,5px,0);
        }

        @include breakpoint-up(desktop){
            @include pos(relative,-90%, 75%);
        }

        @include  breakpoint-min-max(tablet,1300px){
            @include pos(relative, -90%, 80%);
        }
    }

   
}