// Ohmyfood logo
.ohmyfood__logo{
    img{
        width: 156px;
        height: 30px;
        padding-right: 20px; 
    }
}

.footer__logo{
    width: 125px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(108%) contrast(102%);
    padding: 20px 0 0 13px;   
}