// page loading 

@mixin loading-animation{

    @keyframes spinner{
        0%{
           transform: rotate(0deg);
         
        }

        25%{
            border-bottom-color: $tertiary-color ;
        }

        50%{
            border-top-color: $tertiary-color;
            filter: brightness(90%);
        }

        
        100%{
           transform: rotate(720deg);
        }
    }

    @keyframes disappear{

        0%{
            opacity: 1;
            z-index: 500;
        }
       
         90%{
            opacity: 1;
            z-index: 500;
         }

         100%{
            opacity: 0;
            z-index: -500;
         }
    }
}

// Frebch google translate Apparition progressive --> Gradual onset 
// Apparition in english means ghost 

@mixin ghost-card-animation{

    @keyframes ghost{
        0%{
            opacity: 0;
        }

        15%{
            opacity: 5%;
        }
    
        25%{
            opacity: 10%;
        }

        35%{
            opacity: 20%;
        }

        45%{
            opacity: 30%;
        }

        50%{
            opacity: 50%;
        }
    
        100%{
            opacity:100%;
        }
    }

}





