$breakpoints-up:(
    "desktop": "1366px",
    "tablet": "640px",
);



@mixin breakpoint-up($size){
    @media(min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-min-max($size,$max){
    @media (min-width: map-get($breakpoints-up, $size)) and (max-width: $max){
        @content;
    }
}